.THIS {
    background-color:#fff!important;
    padding:10px;
}
.THIS #dynamicForm{width:100%}
.THIS #addmore{float:right}
.THIS .display_none{display:none;}
.THIS .display_block{display:inline-block!important;text-align:right}
.THIS .submitButton{float:right!important;width:100%!important;text-align:right!important;}